html {
  font-size: 62.5%;
}


body {
  font-family: $thin, Arial, sans-serif;
  font-weight: 200;
  font-size: 1.6rem;
}

%icon-button {
  padding: 0;
  svg {
    height: 100%;
    width: 100%;
    fill: $dark;
  }
}

@media(min-width:800px){
  background-color: $dark;
}

*{
  box-sizing: border-box;

}

.container{
    width: 50rem !important;
    margin-left: auto;
    margin-right: auto;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
}
h1{
  font-size:700%;
  letter-spacing: -0.02rem;
  font-weight: 600;
  word-spacing: 0.5rem;
}
h2{
  font-size: 400%;
}
h3{
  font-size:300%;
}
h4{
  font-size:170%;
  letter-spacing: -0.02rem;
  font-weight: 600;
  word-spacing: 0.5rem;
}
h5{
  font-size:137%;
  letter-spacing: -0.03rem;
  font-weight: 600;
  word-spacing: 0.1rem;
}
h6{
  font-size:110%;
}

p{
  font-size:106%;
  font-weight: 400;
  word-spacing: 0.3rem;
  line-height: 2.3rem;
  span{
    font-size: 90%;
  }
}




// scroll bar stuff
// ::-webkit-scrollbar {
//     // width: 1.2rem;
// }
// ::-webkit-scrollbar-thumb {
//     border-radius: 3px 9px 9px 3px/ 3px 4px 4px 3px;
//     // background-color: $dark;
//     // background-clip: padding-box;
//     // border-right: 0.6rem solid rgba(0,0,0,0);
// }
// ::-webkit-scrollbar-button:end:increment, ::-webkit-scrollbar-button:start:increment  {
// // height: 2.2rem;;
// display: block;
// // background-color: transparent;
// }
      
      
      
      
      
      
      
      
      
      
