.portfolio-section{
    height: 70rem;
    width: 100vw;
    // min-width: 100rem;
    overflow: hidden;
    background-color: #171717;
    color: #fbfbfb;
    display: flex;
    flex-direction: column;
    padding: 2rem 3.5rem;
}



.content-and-arrows{
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    min-width: 97rem;
    h3{
        margin-bottom: 2rem;
        letter-spacing: 0.2rem;

    }
}

.portfolio-arrow{
    width: 4.5rem; 
    height: 4.5rem; 
    &.left{
        margin-right: 4rem;
    }
    &.right{
        margin-left: 4rem;
    }
    svg{
        cursor: pointer;
        fill: #fbfbfb;
    }
    &:hover svg{
        stroke: #fbfbfb;
        stroke-width: 0.1rem;
    }
}


// .portfolio-content{
//     border-radius: 3.2rem;
//     border: solid #fbfbfb 0.3rem;
//     padding: 1rem 3.5rem;
// }



.gallery-and-info-bit{
    display:flex;
}




.gallery-bit{
    display: inline-block;
}

.gallery-pic{
    height: 30rem;
    width: 40rem;
    img{
        border-radius: 1rem;
        // border: solid 0.2rem #fbfbfb;
        width:100%;
    }
}

.gallery-controls{
    text-align: center;
    margin: 1rem;
}

.gallery-button{
    display: inline-block;
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 50%;
    border: solid 0.3rem #fbfbfb;
    margin: 0 0.7rem;
    box-sizing: border-box;
    cursor: pointer;
    &:hover{
        border-width: 0.4rem;
    }
    &.selected{
        background-color: #fbfbfb;
    }
}








.info-bit{
    display: inline-block;
    width:40rem;
    padding: 0.5rem 1rem 0 3.5rem;
    p{
        margin: 0;
        font-size: 103%;
        font-weight: 300;
        word-spacing: 0.15rem;
        line-height: 1.9rem;
    }
}

.piece-info{
    overflow: scroll;
    height: 22rem;
    margin-bottom: 2.9rem;
}

.piece-links{
    a{
        display: flex;
        width: 20rem;
        align-items: center;
        text-decoration: none;
        margin-bottom: 0.2rem;
        &:hover h6{
            text-decoration: underline;
            // margin-left: 0.9rem;
        }
        // &:hover .link-icon{
        //     width: 1.9rem;
        // }
    }
    h6{
        display: inline-block;
        color: #fbfbfb;
        margin-left:1rem;
        font-weight: 300;
        line-height: 1.2;
    }
}

.link-icon{
    display: inline-block;
    height:1.8rem;
    width: 1.8rem;
    svg{
        fill:#fbfbfb;
    }
}