.skills-section{
    // max-height: 100vh;
    overflow: hidden;
    width: 100vw;
    background-color: #fbfbfb;
    color: #171717;
    padding: 1rem 1.75rem;
}

.skills-container{
    height: 29rem;
    width: 42.5rem;
    margin: auto;
    position: relative;
    > div {
        position: absolute;
    }
}

$transition-time: 0.3s;

.logo{
    background-color: #171717;
    // border: solid #171717 0.4rem;
    border-radius: 50%;
    transition: background-color $transition-time;
    svg{
        width:100%;
        height: 100%;
        fill: #fbfbfb;
        transition: fill $transition-time;
    }
    &:hover{
        background-color: #fbfbfb;
        // transition: background-color $transition-time*0.7;
        // border: solid #171717 0.4rem;
        ~ .profficiency{
            visibility: visible;
        }
        svg{
            fill: #171717;
            // transition: fill $transition-time*1.7
        }
    }



    &.ajax{
        width: 3.9rem;
        height: 3.9rem;
        left: -0.2rem;
        top: 5.95rem;
    }
    &.html{
        width: 4.95rem;
        height: 4.95rem;
        left: 1.65rem;
        top: 12rem;
    }
    &.cli{
        width: 4.65rem;
        height:  4.65rem;
        left: 4.55rem;
        top:  1.15rem;
    }
    &.jquery{
        width: 3.55rem;
        height:  3.55rem;
        left: 5.3rem;
        top:  18.95rem;
    }
    &.git{
        width: 4.4rem;
        height:  4.4rem;
        left: 13.75rem;
        top:  2.75rem;
    }
    &.node{
        width: 4.65rem;
        height:  4.65rem;
        left: 8.95rem;
        top:  14.15rem;
    }
    &.react{
        width: 6.5rem;
        height:  6.5rem;
        left: 14.5rem;
        top:  9.5rem;
        fill-rule: evenodd;
    }
    &.redux{
        width: 4.85rem;
        height:  4.85rem;
        left: 13.55rem;
        top:  18.7rem;
    }
    &.vscode{
        width: 4.15rem;
        height:  4.15rem;
        left: 23.25rem;
        top:  10.45rem;
        fill-rule: evenodd;
    }
    &.javascript{
        width: 5.1rem;
        height:  5.1rem;
        left: 27.85rem;
        top:  0.6rem;
    }
    &.sass{
        width: 5.4rem;
        height:  5.4rem;
        left: 29.2rem;
        top:  7.15rem;
    }
    &.adobe{
        width: 4.6rem;
        height:  4.6rem;
        left: 28.85rem;
        top:  18.6rem;
    }
    &.chrome{
        width: 4.1rem;
        height:  4.1rem;
        left: 35.2rem;
        top:  3.7rem;
    }
    &.csharp{
        width: 3.25rem;
        height:  3.25rem;
        left: 28rem;
        top:  14.4rem;
        fill-rule: evenodd;
    }
    &.responsive{
        width: 4.4rem;
        height:  4.4rem;
        left: 33.85rem;
        top:  13.8rem;
        fill-rule: evenodd;
    }
    
}





.icon{
    border-radius:50%;
    border: 0.7rem solid #171717;
    width: 5.505rem;
    height: 5.505rem;
    transition: background-color 0.2s, border-width $transition-time;
    svg{
        width:100%;
        height: 100%;
        transition: fill $transition-time;
        fill: #171717;
    }
    &:hover{
        background-color: #171717;
        // border-width: 1.2rem;
        svg{
            fill: #fbfbfb;
        }
    }
    &.logic{
        left: 7.35rem;
        top:  6.95rem;
    }
    &.creativity{
        left: 20.2rem;
        top:  16.1rem;
    }
    &.communication{
        left: 20.9rem;
        top:  3.8rem;
    }
}


.skill-name{
    left: 2.5rem;
    top: 24.6rem;
    width: 15rem;
    text-align: center;
    h3{
        display: none;
        span{
            font-size: 80%;
            font-weight: 800;
        }
    }
}

.profficiency{
    left: 19.5rem;
    top: 25.3rem;
    display: flex;
    // visibility: hidden;
    align-items: center;
    *{
        display: inline-block;
    }
    h4{
        padding: 0rem 0.75rem 0.1rem 0rem;
    }
    div{
        width: 1rem;
        height: 1rem;
        border: 0.2rem solid #171717;
        border-radius: 50%;
        margin: 0.1rem;
        transition: background-color $transition-time*2;
    }
}


.characteristic{
    top: 24.6rem;
    // left: 5rem;
    width: 100%;
    div{
        display: none;
        align-items: center;
        justify-content: center;
        // width: 100%;
        &.logic h3{
            margin-left: 4.5rem; 
        }
        &.creativity h3{
            margin-left: 1rem; 
            margin-right: 4rem;
        }
    }
    h3,h5{
        display: inline-block;
    }
    h3{
        // width: 35rem;
        text-align: center;
        margin-right: 3rem;
    }
    h5{
        margin-bottom: -0.25rem;
        font-size:155%;
        // width: 48rem;
        text-align: right;
    }
}


.icon:hover ~ .profficiency{
    visibility: hidden;
}
.icon.logic:hover ~ .characteristic .logic {
    display: flex;
}
.icon.creativity:hover ~ .characteristic .creativity {
    display: flex;
}
.icon.communication:hover ~ .characteristic .communication {
    display: flex;
}



.logo.ajax:hover {
    ~ .skill-name .ajax{display:block;}
    ~ .profficiency { .div1, .div2, .div3, .div4, .div5 //, .div6, .div7, .div8, .div9, .div10
        {background-color: #171717;}}
}
.logo.html:hover {
    ~ .skill-name .html{display:block;}
    ~ .profficiency { .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9, // .div10
        {background-color: #171717;}}
}
.logo.cli:hover {
    ~ .skill-name .cli{display:block;}
    ~ .profficiency { .div1, .div2, .div3, .div4, .div5, .div6,// .div7, .div8, .div9, .div10
        {background-color: #171717;}}
}
.logo.jquery:hover {
    ~ .skill-name .jquery{display:block;}
    ~ .profficiency { .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8,// .div9, .div10
        {background-color: #171717;}}
}
.logo.git:hover {
    ~ .skill-name .git{display:block;}
    ~ .profficiency { .div1, .div2, .div3, .div4, .div5, .div6,// .div7, .div8, .div9, .div10
        {background-color: #171717;}}
}
.logo.node:hover {
    ~ .skill-name .node{display:block;}
    ~ .profficiency { .div1, .div2, .div3, .div4, .div5, //.div6, .div7, .div8, .div9, .div10
        {background-color: #171717;}}
}
.logo.react:hover {
    ~ .skill-name .react{display:block;}
    ~ .profficiency { .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9, //.div10
        {background-color: #171717;}}
}
.logo.redux:hover {
    ~ .skill-name .redux{display:block;}
    ~ .profficiency { .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, //.div9, .div10
        {background-color: #171717;}}
}
.logo.vscode:hover {
    ~ .skill-name .vscode{display:block;}
    ~ .profficiency { .div1, .div2, .div3, .div4, .div5, .div6, .div7,// .div8, .div9, .div10
        {background-color: #171717;}}
}
.logo.javascript:hover {
    ~ .skill-name .javascript{display:block;}
    ~ .profficiency { .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, //.div9, .div10
        {background-color: #171717;}}
}
.logo.sass:hover {
    ~ .skill-name .sass{display:block;}
    ~ .profficiency { .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9, //.div10
        {background-color: #171717;}}
}
.logo.adobe:hover {
    ~ .skill-name .adobe{display:block;}
    ~ .profficiency { .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8,// .div9, .div10
        {background-color: #171717;}}
}
.logo.chrome:hover {
    ~ .skill-name .chrome{display:block;}
    ~ .profficiency { .div1, .div2, .div3, .div4, .div5, .div6,// .div7, .div8, .div9, .div10
        {background-color: #171717;}}
}
.logo.csharp:hover {
    ~ .skill-name .csharp{display:block;}
    ~ .profficiency { .div1, .div2, .div3, .div4, .div5, //.div6, .div7, .div8, .div9, .div10
        {background-color: #171717;}}
}
.logo.responsive:hover {
    ~ .skill-name .responsive{display:block;}
    ~ .profficiency { .div1, .div2, .div3, .div4, .div5, .div6, .div7, //.div8, .div9, .div10
        {background-color: #171717;}}
}





