.title-section{
    height: 85vh;
    min-height: 35rem;
    overflow: hidden;
    width: 100vw;
    background-color: #fbfbfb;
    color: #171717;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.75rem;
}

.buffer-1,.buffer-2{
    transition: flex-grow 1.2s;
}

.buffer-1{
    flex-grow: 100;
    // background-color: #171717;
    &.info-open{
        flex-grow: 1;
    }
}

.buffer-2{
    flex-grow: 1;
    &.info-open{
        flex-grow: 100;
    }
}

.name-box{
    // overflow: hidden;
    flex: 0 0 8rem;
    position: relative;
    h4{
        margin-left: 0.4rem;
        max-height: 1.35rem;
        overflow: hidden;
        transition: max-height 0.5s linear;
        &.info-open{
            max-height: 0rem;
        }
    }
    //placeholder h2 so absolute h1 don't collapse 
    h2{
        visibility: hidden;
        position: static;
        font-size:651%;
    }
    
    h1{
        position: absolute;
        top:0;
        left:0;
        font-family: $name;
        letter-spacing: -0.25rem;
        font-weight: 600;
    }
    .name-red, .name-blue{
        transition: top 0.15s linear, left 0.15s linear, visibility 0.1s 0.2s;
    }
    .name-red{
        color: rgba(214, 30, 55, 0.653)
    }
    .name-blue{
        color: rgba(29, 43, 240, 0.541)
    }
}

.main-info{
    padding: 0 2rem;
    margin-right: 15.5rem;
    flex-grow: 0;
    height: 0rem;
    transition: height 1s;
    &.info-open{
        height: 18rem;
        overflow-y: scroll;
    }
}

li p{
    font-size: 116%;
    a{
        text-decoration: none;
        color: #171717;
        font-weight: 600;
        &:hover{
            text-decoration: underline;
        }
    }
}

.headings{
    padding: 2.25rem 0.35rem 0.5rem;
    h5{
        display: inline-block;
        margin-right: 2.55rem;
        width: 7.65rem;
        
        &.last-heading{
            margin-right: 0;
        }

        cursor: pointer;
        &:first-of-type{
            width:5rem;
        }
        &:hover{
            font-weight: 700;
        }
        &.info-open{
            text-decoration: underline;
        }
    }
    .main-info{
        text-decoration: underline;
    }
}






.title-stripes{
    position: absolute;
    display: block;
    top:0;
    right:0;
    height: 110%;
    width: 16.5rem;
    div{
        display: inline-block;
        height: 100%;
        background-color: #171717;
    }
    .a{
        width:0.75rem;
        margin-right: 2.75rem;
    }
    .b{
        width:1.75rem;
        margin-right: 1.75rem;
    }
    .c{
        width:2.75rem;
        margin-right: 1rem;
    }
    .d{
        width:5.75rem;
    }
}
