.title-section{
    height: 85vh;
    // max-height: 100vh;
    overflow: hidden;
    width: 100vw;
    background-color: #fbfbfb;
    color: #171717;
    display: flex;
    flex-direction: column;
    padding: 2rem 3.5rem;
}

.buffer-1,.buffer-2{
    transition: flex-grow 1.2s;
}

.buffer-1{
    flex-grow: 100;
    // background-color: #171717;
    &.info-open{
        flex-grow: 1;
    }
}

.buffer-2{
    flex-grow: 1;
    &.info-open{
        flex-grow: 100;
    }
}

.name-box{
    // overflow: hidden;
    flex: 0 0 16rem;
    position: relative;
    h4{
        margin-left: 0.8rem;
        max-height: 2.7rem;
        overflow: hidden;
        transition: max-height 0.5s linear;
        &.info-open{
            max-height: 0rem;
        }
    }
    //placeholder h2 so absolute h1 don't collapse 
    h2{
        visibility: hidden;
        position: static;
        font-size:700%;
    }
    
    h1{
        position: absolute;
        top:0;
        left:0;
        font-family: $name;
        letter-spacing: -0.5rem;
        font-weight: 600;
    }
    .name-red, .name-blue{
        transition: top 0.15s linear, left 0.15s linear, visibility 0.1s 0.2s;
    }
    .name-red{
        color: rgba(214, 30, 55, 0.653)
    }
    .name-blue{
        color: rgba(29, 43, 240, 0.541)
    }
}

.main-info{
    padding: 0 4rem;
    margin-right: 31rem;
    flex-grow: 0;
    height: 0rem;
    transition: height 1s;
    &.info-open{
        height: 36rem;
        overflow-y: scroll;
    }
}

li p{
    font-size: 116%;
}

.headings{
    padding: 4.5rem 0.7rem 1rem;
    h5{
        display: inline-block;
        margin-right: 5.1rem;
        width: 15.3rem;

        cursor: pointer;
        &:first-of-type{
            width:10rem;
        }
        &:hover{
            font-weight: 700;
        }
        &.info-open{
            text-decoration: underline;
        }
    }
    .main-info{
        text-decoration: underline;
    }
}






.title-stripes{
    position: absolute;
    top:0;
    right:0;
    height: 100%;
    width: 33rem;
    div{
        display: inline-block;
        height: 100%;
        background-color: #171717;
    }
    .a{
        width:1.5rem;
        margin-right: 5.5rem;
    }
    .b{
        width:3.5rem;
        margin-right: 3.5rem;
    }
    .c{
        width:5.5rem;
        margin-right: 2rem;
    }
    .d{
        width:11.5rem;
    }
}
